<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1><%= message %></h1>
    <p>This content was rendered on the server.</p>
    <a href="/about">Go to About Page</a>
  </body>
</html>
